@charset "UTF-8";
/* base */
/* --------------------------------- */
body {
  line-height: calc(28 / 16);
  color: #333333;
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* module（共通アイテム） */
/* --------------------------------- */
/* title */
.m-wrap {
  width: 100%;
  text-align: center;
}

.m-ttl {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 1.25rem;
  margin-bottom: 3.125rem;
  font-size: 2rem;
  font-weight: 800;
}

.m-ttl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 16px 0 0;
  border-color: #008DD5 transparent transparent transparent;
}

.m-ttl::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #008DD5 transparent;
}

/* btn */
.m-btn {
  position: relative;
  display: block;
  width: 100%;
  max-width: 17.5rem;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #008DD5;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.m-btn::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #008DD5 transparent;
}

/* utility（便利スタイル） */
/* --------------------------------- */
.u-wrap {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@media screen and (max-width: 1200px) {
  .u-wrap {
    padding: 0 1rem;
  }
}

/* hover */
.header__list.hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header__list.hover {
    color: #333;
    opacity: .8;
  }
}

.m-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220%;
  background-color: rgba(0, 142, 213, 0.7);
  transform-origin: left bottom;
  transform: skewY(-10deg) scale(1, 0);
  transition: transform .6s;
  z-index: -1;
}

.m-btn.hover::before {
  transform-origin: left top;
  transform: skewY(-10deg) scale(1, 1);
}

/************ hero ***********/
.hero {
  width: 100vw;
  height: 30rem;
  background-image: url(../img/key.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__logo {
  width: 6.25rem;
  height: 6.25rem;
  z-index: 100;
}

.hero__txt {
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 100px;
  line-height: 1.6em;
  font-size: 2.25rem;
  color: #fff;
}

.hero__text--bgblack {
  background-color: #000;
}

.sele-icon {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.25rem;
  height: 11.25rem;
  text-align: center;
  font-size: 1.5rem;
  color: #008DD5;
  background-color: #fff;
  border: 5px solid #008DD5;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .hero__logo {
    width: 6.25rem;
    height: 6.25rem;
  }
  .hero__txt {
    top: 150px;
    left: 10px;
    font-size: 1.6875rem;
  }
  .hero .sele-icon {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.125rem;
    height: 8.125rem;
    text-align: center;
    font-size: 1.25rem;
    color: #008DD5;
    background-color: #fff;
    border: 5px solid #008DD5;
    border-radius: 50%;
  }
}

/************ header ***********/
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header {
  width: 100vw;
  height: 4.75rem;
  line-height: 4.75rem;
  background-color: #008DD5;
  box-shadow: 0 3px 30px -15px rgba(0, 0, 0, 0.8);
  z-index: 30;
}

.header .header__gnav {
  display: flex;
  margin-left: 6.25rem;
  color: #fff;
  font-weight: bold;
}

.header .header__gnav .header__list {
  display: inline-block;
  padding: 0 0.625rem;
  margin-right: 3.125rem;
  text-align: center;
  transition: .4s;
}

.header .header__gnav .header__list a {
  display: block;
}

.header .header__gnav .header__list:last-child {
  display: inline-block;
  width: 11.875rem;
  margin-left: auto;
  margin-right: 0;
  background-color: #A9D92F;
}

@media screen and (max-width: 1000px) {
  .header {
    height: 3.125rem;
    line-height: 3.125rem;
    background-color: transparent;
    box-shadow: 0 0 0;
    /**************** 以下、メニューのスタイリング ****************/
    /***** メニューオープン時位置0にして画面内に *****/
  }
  .header .header__gnav {
    position: fixed;
    /* メニューの位置マイナス指定で画面外に */
    top: -30rem;
    left: -6.25rem;
    width: 100vw;
    height: 30rem;
    /* メニューを縦に */
    display: flex;
    flex-direction: column;
    color: #efefef;
    transition: .3s;
  }
  .header .header__gnav .header__list {
    width: 100%;
    height: 100%;
    /* メニューテキスト位置をリスト内中心に */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 142, 213, 0.8);
  }
  .header .header__gnav .header__list:last-child {
    display: flex;
    width: 100%;
    margin-left: 0;
    background-color: #a9d92f;
  }
  .header .header__gnav.open {
    position: fixed;
    top: 0;
  }
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
  /* ボタンの配置位置  */
  position: absolute;
  top: 20px;
  right: 16px;
  /* ボタンの大きさ  */
  width: 2.5rem;
  height: 1.75rem;
  /* バーガーの線をボタン範囲の中心に配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 最前面に */
  z-index: 50;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
  /* 線の長さと高さ */
  width: 100%;
  height: 4px;
  /* バーガー線の色 */
  background-color: #333;
  /* バーガー線の位置基準として設定 */
  position: relative;
  transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
  content: "";
  /* 基準線と同じ大きさと色 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: .5s;
}

.btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-16px);
}

.btn-line::after {
  /* 下の線の位置 */
  transform: translateY(16px);
}

/***** メニューオープン時 *****/
.btn-line.open {
  /* 真ん中の線を透明に */
  background-color: transparent;
}

.btn-line.open::before,
.btn-line.open::after {
  content: "";
  transition: .2s;
}

.btn-line.open::before {
  /* 上の線を傾ける */
  transform: rotate(45deg);
}

.btn-line.open::after {
  /* 上の線を傾ける */
  transform: rotate(-45deg);
}

/* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 1001px) {
  .btn {
    display: none;
  }
}

/************ info ***********/
.info {
  max-width: 40rem;
  margin: 6.25rem auto;
}

.info__list {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 1.25rem;
}

.info__list:last-of-type {
  margin-bottom: 3.125rem;
}

.info__list-time {
  width: 13.75rem;
}

.info__list-txt {
  width: 100%;
}

.info .info__link {
  text-align: center;
  color: #008DD5;
  cursor: pointer;
}

.info .info__link:hover {
  text-decoration: underline;
}

/************ service ***********/
.service {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 6.25rem;
  background-color: #E6F6FF;
}

.service__inner {
  width: 100%;
  margin: 0 auto;
  padding: 3.75rem;
  background-color: #fff;
}

.service__inner .service__contents {
  display: flex;
  justify-content: space-between;
  max-width: 62.5rem;
  margin: 0 auto 2.5rem;
}

.service__inner .service__contents .service__text-wrap {
  width: 28.75rem;
  margin-right: 3.75rem;
}

.service__inner .service__contents .service__icon-wrap {
  width: 22.5rem;
}

.service__inner .service__contents .service__icon-wrap .service__icon-contents {
  display: flex;
  flex-wrap: wrap;
}

.service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list {
  width: 5rem;
  height: 5rem;
  margin: 0 2.5rem 1.25rem 0;
}

.service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list img {
  width: 100%;
  height: 100%;
}

.service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(4) {
  margin-left: 2.5rem;
}

.service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(6) {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .service {
    padding: 6.25rem 3.75rem;
  }
  .service__inner .service__contents .service__icon-wrap {
    width: 25rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list {
    margin: 0 1.25rem 1.25rem 0;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(4) {
    margin-left: 2.5rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .service__inner {
    padding: 1.875rem;
  }
  .service__inner .service__contents {
    display: flex;
    flex-direction: column;
  }
  .service__inner .service__contents .service__text-wrap {
    width: 100%;
  }
  .service__inner .service__contents .service__icon-wrap {
    width: 100%;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents {
    display: flex;
    justify-content: space-between;
    max-width: 29.375rem;
    margin: 0 auto;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list {
    margin: 1.875rem 1.875rem 0.625rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(4) {
    margin-left: 1.875rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(6) {
    margin-right: 1.875rem;
  }
}

@media screen and (max-width: 600px) {
  .service {
    padding: 3.125rem 1.25rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list {
    margin: 1.875rem 1.875rem 0.625rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(4) {
    margin-left: 1.875rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(6) {
    margin-right: 1.875rem;
  }
}

@media screen and (max-width: 480px) {
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list {
    margin: 1.875rem 0.625rem 0.625rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(4) {
    margin-left: 0.625rem;
  }
  .service__inner .service__contents .service__icon-wrap .service__icon-contents .service__icon-list:nth-of-type(6) {
    margin-right: 0.625rem;
  }
}

/************ strong ***********/
.strong {
  padding: 6.25rem;
}

.strong__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

.strong__list .strong__list-img {
  margin-right: 2.5rem;
}

.strong__list .strong__list-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strong__list .strong__list-txt .strong__list-ttl {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #008DD5;
}

/* レスポンシブ  */
@media screen and (max-width: 780px) {
  .strong {
    padding: 3.125rem 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .strong__list {
    display: block;
    margin-bottom: 3.125rem;
  }
  .strong__list .strong__list-img {
    width: 50%;
    margin: 0 auto 1.25rem;
  }
}

/************ customer ***********/
.customer {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 6.25rem;
  background-color: #E6F6FF;
}

.customer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 62.5rem;
  height: 96.875rem;
  margin: 0 auto;
  padding: 3.75rem;
  background-color: #fff;
}

.customer__inner .customer-card {
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.customer__inner .customer-card .customer__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6.25rem;
  padding: 0 1.25rem;
  color: #fff;
  background-color: #008DD5;
}

.customer__inner .customer-card .customer-txt {
  padding: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .customer {
    padding: 6.25rem 3.75rem;
  }
  .customer__inner {
    width: 95%;
    padding: 3.75rem;
  }
}

@media screen and (max-width: 1000px) {
  .customer__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
  .customer__inner .customer-card {
    width: 100%;
    margin: 0 auto 3.75rem;
  }
  .customer__inner .customer-card .customer__img p {
    height: 18.75rem;
  }
  .customer__inner .customer-card .customer__img p img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  .customer {
    padding: 3.125rem 1.25rem;
  }
  .customer__inner {
    padding: 1.25rem;
  }
  .customer__inner .customer-card .customer__name {
    height: 7.5rem;
    padding: 0 0.625rem;
  }
}

/************ contact ***********/
.contact {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 6.25rem 0;
}

.contact .m-btn {
  text-align: center;
  border: 1px solid #333;
}

.contact .m-btn::after {
  border-color: transparent transparent #333 transparent;
}

.label {
  display: block;
}

form {
  width: 100%;
}

form .form {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.875rem;
  border: 1px solid #333;
  border-radius: 5px;
}

form .form:last-of-type {
  margin-bottom: 3.125rem;
}

form .pull {
  position: relative;
  width: 12.5rem;
  margin-bottom: 1.875rem;
  border: 1px solid #333;
  border-radius: 5px;
}

form .pull::after {
  content: "";
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
}

form .textarea {
  height: 12.5rem;
}

/************ footer ***********/
.footer {
  width: 100vw;
  height: 100%;
  margin: 0 calc(50% - 50vw);
  padding: 3.125rem 6.25rem;
  color: #fff;
  background-color: #008DD5;
}

.footer__gnav {
  display: flex;
  justify-content: space-between;
}

.footer .footer__list-ttl {
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.footer .footer__list-child:nth-of-type(n+2) {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 3.125rem 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .footer__gnav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__gnav .footer__list:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }
  .footer__gnav .footer__list ul {
    margin: 0.625rem 0;
  }
  .footer__gnav .footer__list ul .footer__list-child {
    margin-bottom: 0;
  }
  .footer__gnav .footer__list ul .footer__list-ttl {
    text-align: left;
    margin-bottom: 0.625rem;
  }
  .footer__gnav .footer__list ul .footer__list-child:nth-of-type(n+2) {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .footer__gnav .footer__list ul:last-of-type {
    padding-bottom: 1.25rem;
  }
}
