/************ strong ***********/
.strong {
  padding: rem(100);

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50);

    .strong__list-img {
      margin-right: rem(40);
    }

    .strong__list-txt {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .strong__list-ttl {
        margin-bottom: rem(20);
        border-bottom: 1px solid $accent-color;
      }
    }
  }
}

/* レスポンシブ  */
@media screen and (max-width: 780px) {
  .strong {
    padding: rem(50) rem(20);
  }
}

@include mq(tab) {
  .strong {
    &__list {
      display: block;
      margin-bottom: rem(50);

      .strong__list-img {
        width: 50%;
        margin: 0 auto rem(20);
      }
    }
  }
}