@charset "UTF-8";

/* base */
/* --------------------------------- */
body {
  line-height: calc(28 / 16);
  color: $baseFont-color;
  font-family: $fontFamily;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}